<div class="container">
  <div class="top_area_container m-5 ">
    <h2>おすすめのエリア</h2>

    <div class="row">
      <div class="top_area_img col-lg-3 col-6">
        <span>東京</span>
      </div>
      <div class="top_area_img col-lg-3 col-6">
        <span>大阪</span>
      </div>
      <div class="top_area_img col-lg-3 col-6">
        <span>京都</span>
      </div>
      <div class="top_area_img col-lg-3 col-6">
        <span>北海道</span>
      </div>
    </div>
  </div>
</div>
